:root {
  --Fondo1: #859d83;
  --Fondo2: #61725f;
  --Footer: #495647;
}

footer {
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: 9px;
    padding: 12px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  @media screen and (max-width: 576px) {
    footer {
        margin-top: -100px;
    }
    .subscribe{
        margin-top: -50px;
    }
  }

  .row-footer {
    padding: 1em 1em;
  }
  .row-footer.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 10px;
    white-space: nowrap;
    text-decoration: underline;
  }
  .links ul li{
  list-style: none;
  }

  .links ul li a{
  text-decoration: none;
  color: white;
  }


  .social ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .social li:not(:first-child) {
    margin-top: 0.8em;
  }
  .social ul li a {
    color: white;
    text-decoration: none;
  }
  .social ul li a:hover {
    color: white;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: white;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: var(--Footer);
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  

  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 500px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }